.banner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
  
  }
  
  .banner__content {
    grid-column: 2 / 3;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/images/jmt/cathedral.jpg');
    min-height: 2000px;
    background-position: center center;
    background-size: cover;
  
  }