@use 'colours';

html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }
  
  
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: colours.$primary;
  }
  
  $font-main: 'Montserrat', sans-serif;
  