@use 'colours';
@use 'basics';

.world {
    padding: 10px;

    &__banner {
        display: flex;
        width: 100%;
        background-color: white;
        position: relative;
        height: 60px;
    }

    &__title {
        margin: auto;
        color: colours.$primary;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 28px;
        text-align: center;
        
    }

    &__section {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        margin: 20px 0 5px 0;
        margin-bottom: 5px;
    }

    &__section::after {
        content: "";
	    display: block; 
	    width: 100%; 
        background-color: colours.$primary;
        height: 2px;
        margin-top: 5px;
    }

    &__article {
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 200px;
        width: 100%;   
        }

    &__bar {
        background-color:rgba(0, 0, 0, 0.3);
        width: 100%;
        margin: 35px 0;
        }

    &__button {
        background-color: rgba(252, 249, 249, 0.2);
        border: 2px solid #fff;
        padding: 3px 6px;
        margin-bottom: 15px;
        font-family: basics.$font-main;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        cursor: pointer;
        }

        &__button:active {
            background-color: colours.$primary;
        }
        
        &__link {
            text-decoration: none;
            color: white;
        }

        &__link:visited {
            text-decoration: none;
            color: white;
        }

        &__headline {
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 18px;
            }
        
        &__berglake {
            background-image: url('/images/bt/berglake.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: colours.$backgroundimg;
        }

        &__cwt {
            background-image: url('/images/cwt/cwtcover.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: colours.$backgroundimg;
        }

        &__jmt {
            background-image: url('/images/jmt/garnet.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: colours.$backgroundimg;
        }

        &__bryce {
            background-image: url('/images/usa/bryce2.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: colours.$backgroundimg;
        }
}


@media screen and (min-width: 480px) {

    .world {
        max-width: 1100px;
        padding: 0;
        margin: auto;
        padding: 0 40px;

    &__banner {
        height: 120px;
        padding-top: 40px;
    }

    &__content {
        margin-bottom: 40px; 
    }

    &__background {
        position: relative;
    }

    &__title {
        font-weight: 500;
        font-size: 32px;
    } 

    &__section {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        margin: 10px 0;
        color: colours.$primary;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        margin-bottom: 20px;
    }

    &__section::after {
	    width: 15%; 
    }

    &__article {
        min-height: 220px;
        margin: 0;
    }

    &__article:hover {
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
        transition: all 0.60s;
    }

    &__button:hover {
        background-color: colours.$primary;
    }

    }

}