@use 'colours';
@use 'basics';

.header {
	align-items: center;
	height: 70px;
	width: auto;
	background-color: white;
	padding: 20px 0 10px 0;
	

	&__logo {
		display: block;
		max-width: 45px;
		margin-left: 15px;
	}
}

.menu {
	width: 100%;
	display: grid;
	grid-template-columns: 50px auto 150px;
	position: absolute;
	justify-content: stretch;
	align-items: center;


	&__checkbox {
		position: absolute;
		left: -9999px;
	}

	&__toggler {
		cursor: pointer;
		grid-column: 3/4;
		justify-self: end;
		margin-right: 20px;
	}

	&__list {
		display: none;
		margin-top: 5px;
		padding: 0;
		list-style: none;
		background-color: white;
		grid-column: 1/4;
		}

	&__item {
		border-top: 1px solid colours.$primary;
	}

	
	&__link {
		display: block;
		padding: 5px 15px 5px 0;
		text-decoration: none;
		text-align: center;
		font-family: basics.$font-main;
		color: colours.$primary;
		font-size: 16px;
		text-transform: uppercase;
	}

/*
	&__logo {
		position: absolute;
		opacity: 0;
		padding: 0;
		border: none;
	}*/

	&__logo2 {
		display: none;
	}

	&__item:nth-child(3) {
		border-top: 0;
	}
	
	&__link:active{
		background-color: rgb(194, 189, 189);
	}
	
	&__checkbox:checked ~ .menu__list {
		display: block;
		z-index: 15;
	}
}


@media screen and (min-width: 480px) {

.header {
		display: flex;
		align-items: center;
		padding: 10px 0;

		&__logo {
			display: none;
		}
	}


.menu {
	display: flex;
	justify-content: center;

	&__toggler {
		display: none;
		margin: 0;
	}

	&__list {
		display:flex;
		align-items: center;
		margin: 15px 0,
	}

	&__item {
		border-top: none;
		margin: 0 60px 0 0;
	}

	&__item:nth-child(3){
		width: 50px;
	}

	&__logo {
		display: block;
		position: revert;
		opacity: 100%;
		padding: 0;
	}

	&__logo2 {
		display: revert;
		position: absolute;
		max-width: 55px;
		z-index: 20;
		margin-bottom: -45px;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}

	&__link {
		position: relative;
		padding: 5px 0;
	}


	&__link:active{
		background-color: white;
	}

	&__link::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: black;
		opacity: 0;
		transition: opacity 300ms, transform 300ms;
		transform: scale(0);
		transform-origin: center;
	}

	&__link:hover::after {
		opacity: 1;
		transform: translate3d(0, 0.2em, 0);
		transform: scale(1);
	}

}
}