@use 'basics';
@use 'colours';

.highlights {

    margin: 10px;

    &__title {
        font-size: 14px;
        text-transform: uppercase;
    }

    &__item1,
    &__item2,
    &__item3 {
        margin-bottom: 40px;
        box-shadow: 4px 3px 8px rgb(0 0 0 / 10%);
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__lower {
        padding:  10px;
        text-align: center;
    }

    &__category {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: rgb(161, 158, 158);
    }

    &__headline {
        text-transform: uppercase;
        font-weight: 600;
        margin: 5px 0;
    }

    &__button {
        border: 2px solid rgb(161, 158, 158);
        background-color: #fff;
        padding: 3px 6px;
        margin: 15px 0;
        font-family: basics.$font-main;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgb(116, 113, 113);
        cursor: pointer;
      }
    
      &__button:active {
        background-color: colours.$primary;
        border: 2px solid #fff;
        color: #fff;
      }

    &__text {
        margin: 5px 0;
    }
}


@media screen and (min-width: 480px) {
    .highlights {
        display: grid;
        grid-template-columns: 1fr repeat(3, minmax(200px, 400px)) 1fr;
        grid-template-rows: repeat(2, auto) ;
        gap: 20px 30px;


        &__title {
            grid-column: 2/3;
            grid-row: 1/2;
            font-size: 18px;
            margin: 0;
        }
    
        &__item1 {
            grid-column: 2/3;
        }

        &__item2 {
            grid-column: 3/4;
        }

        &__item3 {
            grid-column: 4/5;
        }
    
        &__img {
            height: 350px;
            object-fit: cover;
            width: 100%;
        }

        &__img:hover {
            filter: brightness(80%);
            transition: all 0.50s;
        }
    
        &__lower {
            padding: 20px;
            text-align: left;
        }

        &__category {
            text-align: left;
            margin: 0;

        }
        &__headline {
            display: inline-block;
            position: relative;
            padding: 5px 0;
            margin: 0;
            cursor: pointer;
        }

        &__text {
            margin-top: 5px;
        }

        &__button {
            display: none;
        }
    
        &__headline::after {
            content: "";
            position: absolute;
            bottom: 0;
		    left: 0;
            right: 0;
            height: 2px;
            background-color: colours.$primary;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
            transform: scale(0);
            transform-origin: center;
        }
    
        &__headline:hover::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
            transform: scale(1);
        }

    
}



}