@use 'basics';
@use 'colours';

.jmt {
    margin: 30px auto;
    width: 80%;
    color: colours.$primary;
    font-size: 16px;

    &__title {
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase; 
        text-align: center;  
        margin-bottom: 10px;
    }

    &__secondary {
        text-transform: uppercase;  
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        text-align: center;
    }

    &__snippet {
        font-size: 20px;
        text-align: center;
        margin: 40px 0;
    }

    &__spacer {
        text-align: center;
        margin: 30px 0;
    }

    &__item1,
    &__item2,
    &__item3,
    &__item4,
    &__item5,
    &__item6 {
    margin: 20px 0; 
    }

    &__photos {
        margin: 30px 0;
    }

    &__photo {
        width: 100%;
        display: block;    
    }

    &__tag {
        text-align: center;
        font-size: 14px;
        padding: 5px 0;
    }

}

@media screen and (min-width:480px) {
    .jmt {
        font-size: 18px;
        margin: 60px auto;
    
        &__title {
            font-size: 32px;
        }

        &__text {
            width: 80%;
            margin: auto;
        }
    
        &__secondary {
            font-size: 20px;
        }
    
        &__snippet {
            font-size: 22px;
        }
    
        &__item1,
        &__item2,
        &__item3,
        &__item4,
        &__item5,
        &__item6 {
            position: relative;
            overflow: hidden; 
            margin:0;
        }
    
        &__photos {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 600px 450px 450px 600px;
            gap: 20px;
            margin: 50px 0; 
        }
    
        &__photo {
            width: 100%;
            transition: all 0.3s ease; 
        }
    
        &__tag {
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-align: center;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            transition: transform 0.3s ease;
        }
    
        &__item1:hover &__tag,
        &__item2:hover &__tag,
        &__item3:hover &__tag,
        &__item4:hover &__tag,
        &__item5:hover &__tag,
        &__item6:hover &__tag {
            transform: translateY(-100%);
        }

        &__item1 {
            grid-column: 1/4;
            display: flex;
            align-items: center;
            
        }

        &__item2 {
            grid-column: 1/2;
            display: flex;
            align-items: center;
        }

        &__item3 {
            grid-column: 2/4;
            display: flex;
            align-items: center;
        }

        &__item4 {
            grid-column: 1/3;
            display: flex;
            align-items: center;
        }

        &__item5 {
            grid-column: 3/4;
            display: flex;
            align-items: center;
        }

        &__item6 {
            grid-column: 1/4;
            display: flex;
            align-items: center;
        }
    }
}