@use 'basics';
  
.glide {

  height: 250px;
   &__slides {
    margin: 0;
  }

  &__article1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 250px;
    width: 100%;
    background-image:  /*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),*/ url('/images/jmt/cathedral.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__article2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 250px;
    width: 100%;
    background-image:  /*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),*/ url('/images/bt/berglake.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }


  &__article3{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 250px;
    width: 100%;
    background-image:  /*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),*/ url('/images/netherlands/oisterwijkdark.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__bar {
    background-color:rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 35px;
    }

  &__button {
    background-color: rgba(252, 249, 249, 0.2);
    border: 2px solid #fff;
    padding: 3px 6px;
    margin-bottom: 15px;
    font-family: basics.$font-main;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
  }

  &__button:active {
    background-color: black;
  }
  
  &__bullets {
    transform: scale(50%);
  }
  
  h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
  }

}


@media screen and (min-width: 480px) {

.glide {
   height: 650px;
    
   &__slides {
    margin: 0;
   } 

 &__article1{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   text-align: center;
   height: 650px;
   width: 100%;
   background-image:  /*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),*/ url('/images/jmt/cathedral.jpg');
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
 }

 &__article2{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   text-align: center;
   height: 650px;
   width: 100%;
   background-image:  /*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),*/ url('/images/bt/berglake.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 }


 &__article3{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   text-align: center;
   height: 650px;
   width: 100%;
   background-image:  /*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),*/ url('/images/netherlands/oisterwijkdark.jpg');
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
 }

 &__bar {
   background-color:rgba(0, 0, 0, 0.3);
   width: 100%;
   margin-bottom: 150px;
   }

 &__button {
   background-color: rgba(252, 249, 249, 0.2);
   border: 3px solid #fff;
   padding: 5px 10px;
   margin-bottom: 20px;
   font-family: basics.$font-main;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #fff;
   cursor: pointer;
   transition-duration: 0.4s;
 }

 &__button:hover {
   background-color: black;
 }
 
}



h2 {
 color: white;
 text-transform: uppercase;
 font-weight: 500;
}


}




/*
<img src="images/bt/berglake.jpg" alt="Berg Lake Trail">
<img src="images/netherlands/oisterwijkdark.jpg" alt="Oisterwijkse Bossen en Vennen"*/