---
layout: layouts/main.njk
title: Homepage
---
{% include 'partials/glider.njk' %}

<script src="glider.min.js"></script>

    <script>

       new Glider(document.querySelector('.glider'), {
            slidesToShow: 1,
            draggable: true,
            dots: '#dots',
            arrows: {
                prev: '.glider-prev',
                next: '.glider-next'
            },
        })
    
    </script>   
{% include 'partials/hero.njk' %}
{% include 'partials/highlights.njk' %}
{% include 'partials/form.njk' %}