<div class= "banner">
    <div class= "banner__content">
        <!--<img class="banner__image" src="images/jmt/cathedral.jpg" alt="John Muir Trail - Cathedral Lake"</img>-->
        <a class="banner__link" href="/world/jmt/">John Muir Trail</a>
    </div>
</div>

