<div class= "hero">
    <div class= "hero__content">
        <h1 class= "hero__title">Lorem Ipsum</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptate quis est sapiente minus quo corrupti iusto, reprehenderit minima et tempora soluta illum provident delectus assumenda, temporibus officiis possimus ducimus.
        </p>
    </div>
</div>

