<section class= "hero">
    <div class= "hero__content">
        <h1 class = "hero__title">Welcome to Barbora's Hiking Blog</h1>
         <p class = "hero_text">This blog is about my newly-found love for long-distance hiking, suggestions on where to go for a walk in The Netherlands and reviews on some of my favourite gear. I hope you enjoy my articles!
        </p>
        <img class = "hero__icon" src="images/icons/arrow.svg" alt="double down arrow">
    </div>
</section>

