<div class= "hero">
    <div class= "hero__content">
        <h1 class = "hero__title">Lorem Ipsum</h1>
         <p class = "hero_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptate quis est sapiente minus quo corrupti iusto, reprehenderit minima et tempora soluta illum provident delectus assumenda, temporibus officiis possimus ducimus.
        </p>
        <img class = "hero__icon" src="images/icons/arrow.svg" alt="double down arrow">
    </div>
</div>

