<div class ="highlights">
  
        <h1 class = "highlights__title">Highlighted Articles</h1>

        <div class="highlights__item1">

            <div class ="highlights__upper">
                <img class = "highlights__img" src="images/cwt/cwtcover.jpg" alt="Cape Wrath Trail">
            </div>

            <div class ="highlights__lower">
                <h4 class ="highlights__category">Scotland</h4>
                <h3 class ="highlights__headline">Cape Wrath Trail</h3>
                <p class ="highlights__text">To the most remote part of Scotland</p>
                <button type="button" class= "highlights__button">Read</button>
            </div>
        </div>

        <div class="highlights__item2">

            <div class ="highlights__upper">
                <img class = "highlights__img" src="images/gear/tent.jpg" alt="Big Agnes Tent">
            </div>

            <div class ="highlights__lower"> 
                <h4 class ="highlights__category">Hiking Gear</h4>    
                <h3 class ="highlights__headline">Big Agnes Tiger Wall</h3>
                <p class ="highlights__text" >Lightweight backpacking companion</p>
                <button type="button" class= "highlights__button">Read</button>            
            </div>
        </div>

        <div class="highlights__item3">
            
            <div class ="highlights__upper">
                <img class = "highlights__img" src="images/usa/bryce.jpg" alt="Bryce Canyon">
            </div>

            <div class ="highlights__lower">  
                <h4 class ="highlights__category">USA</h4>
                <h3 class ="highlights__headline" >Bryce Canyon</h3>
                <p class ="highlights__text" >Red rocks and hoodoos</p>
                <button type="button" class= "highlights__button">Read</button>
            </div>
        </div>

</div>

                        
						