<header class="header">

	<nav class="menu">
		<a href="/"><img class="header__logo" src="/images/logo2.svg" alt="logo"></a>


		<input type="checkbox" class="menu__checkbox" id="menu-checkbox">
		<label for="menu-checkbox" class="menu__toggler">☰</label>

		<ul class="menu__list">
			<li class="menu__item {{ 'menu__item--active' if page.fileSlug === '/' }}"><a class="menu__link" href="/">Homepage</a></li>
			<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'directoryhikes' }}"><a class="menu__link" href="/content/directory/directoryhikes/">Trails</a></li>
			<li class="menu__item"><a class="menu__logo" href="/"><img class="menu__logo2" src="/images/logo2.svg"  alt="logo"></a></li> 
			<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'directorygear' }}"><a class="menu__link" href="/content/directory/directorygear/">Gear</a></li>
			<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'aboutme' }}"><a class="menu__link" href="/content/aboutme/">About Me</a></li>
		</ul>

	</nav>
	
</header>	